body{

    background-color: sandybrown;



}


.form{
    width: 11cm;
}

.col-lg-4{

    margin: auto;

    background-color: beige;

    border-color: yellow;

    border: 1px;

    border-style: solid;

    border-radius: 20px;


}